<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550746434079-4sgn5479qkpco64s4jcku5miqaph3os9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550746434079-4sgn5479qkpco64s4jcku5miqaph3os9</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Ztg_Y-Evn-4Q3LKLwSKBhw4Cl_JL2eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>550746434079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-firebas</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-firebas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550746434079:ios:58527569f537c731fc832a</string>
</dict>
</plist>